apiVersion: v2
name: istio-operator
# This version is never actually shipped. istio/release-builder will replace it at build-time
# with the appropriate version
version: 1.23.3-bb.0
appVersion: 1.23.3
tillerVersion: ">=2.7.2"
description: Helm chart for deploying Istio operator
keywords:
  - istio
  - operator
sources:
  - https://github.com/istio/istio/tree/master/operator
icon: https://istio.io/latest/favicons/android-192x192.png
annotations:
  bigbang.dev/applicationVersions: |
    - Istio Operator: 1.23.3
    - Tetrate Istio Distro Operator: 1.23.3
  helm.sh/images: |
    - name: operator
      image: registry1.dso.mil/ironbank/opensource/istio/operator:1.23.3
    - name: tetrate-operator
      condition: enterprise
      image: registry1.dso.mil/ironbank/tetrate/istio/operator:1.23.3-tetratefips-v0
  bigbang.dev/upstreamReleaseNotesMarkdown: |
    - [Find upstream chart's release notes and CHANGELOG here](https://istio.io/latest/news/releases/)
