{{- if .Values.networkPolicies.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: default-deny-istio-operator{{- if not (eq .Values.defaults.revision "") }}-{{ .Values.defaults.revision }}{{- end }}
  namespace: {{.Values.operatorNamespace}}
spec:
  podSelector: {}
  policyTypes:
  - Ingress
  - Egress
  ingress: []
  egress: []
{{- end }}
